<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4>Registered Car Services:</h4>
<div class="col-6">
    <h3 th:unless="${carServices} and ${carServices.size()}">There are no car services at the moment!</h3>
    <table th:if="${carServices.size()>0}" class="table table-hover">
        <th>Id</th>
        <th>Name</th>
        <th>Location</th>
        <th>Dedicated Brand</th>
        <th>Repairment Services</th>
        <tr th:each="carService : ${carServices}">
            <td th:text="${carService.id}"></td>
            <td th:text="${carService.name}"></td>
            <td th:text="${carService.location}"></td>
            <td th:text="${carService.dedicatedBrand}"></td>
            <td>
                <select>
                    <option value="">Repairment Services</option>
                    <option th:each="repairmentService : ${carService.getRepairmentServices()}"
                            th:text="${repairmentService.getTypeOfRepairment()}"></option>
                </select>
            </td>
        </tr>
    </table>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>