<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <title>Car Service</title>
    <meta charset="UTF-8">
    <link rel="icon" href="images/broken-car.png" type="image/x-icon" th:href="@{/images/broken-car.png}">
    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<header th:fragment="header" style="text-align: center">
    <h1>Car Service System</h1>
    <div class="loggedIn">
        Hello,
        <span th:text="${session.user.getFirstName()}" sec:authorize="isAuthenticated()"></span>
        <a class="btn" th:href="@{/logout}">Logout</a>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navigation">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${servletPath == '/' ? 'active':''}"
                       href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${servletPath == '/car-services' ? 'active':''}"
                       href="/car-services">List of Car Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${servletPath == '/schedule-repairment' ? 'active':''}"
                       href="/schedule-repairment">Schedule Repairment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${servletPath == '/my-vehicles' ? 'active':''}"
                       href="/my-vehicles">My Vehicles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${servletPath == '/assign-worker' ? 'active':''}"
                       href="/assign-worker">Assign Repairments</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<footer page-footer font-small>
    <div class="footer-copyright text-center py-3">© 2023 Copyright:
        <a href="/"> Car Service System</a>
    </div>
</footer>

</html>
